{% render 'grid-styles' %}
<style>
  .section#shopify-section-{{ section.id }} {
      padding: {{ section.settings.icon_list_section_padding }};
      margin:{{ section.settings.icon_list_section_margin }};
    }
</style>
<div
  class="icon-list {{ section.settings.layout_type }} section-{{ section.id }}"
>
  {%- liquid
    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
      assign show_mobile_slider = true
    endif
  -%}
  <slider-component class="slider-mobile-gutter {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <ul
      id="Slider-{{ section.id }}"
      class="icon-grid grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down text-{{ section.settings.items_alignment }} freshcart-scroll5 {% if section.settings.swipe_on_mobile %} slider slider--tablet grid--peek{% endif %}"
      style="gap:{{ section.settings.space_between }}px; "
    >
      {% for block in section.blocks %}
        {% if block.type == 'icon_item' %}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="freshcart-grid__item icon-item grid__item"
            style=" padding: {{ block.settings.content_padding }}; margin: {{ block.settings.content_margin }};background-color: {{ block.settings.bg_color }}"
          >
            {% render 'icon-media', block: block %}
            {% render 'icon-content', block: block %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {%- if show_mobile_slider -%}
      <div class="slider-buttons">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>
      </div>
    {%- endif -%}
  </slider-component>
</div>

{% schema %}
{
    "name": "t:sections.icon-list.name",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "select",
            "id": "layout_type",
            "label": "t:sections.icon-list.settings.layout_type.label",
            "options": [
                {
                    "value": "container",
                    "label": "t:sections.icon-list.settings.layout_type.options__1.label"
                },
                {
                    "value": "container-fluid",
                    "label": "t:sections.icon-list.settings.layout_type.options__2.label"
                }
            ],
            "default": "container"
        },
        {
            "type": "select",
            "id": "items_alignment",
            "label": "t:sections.icon-list.settings.items_alignment.label",
            "options": [
                {
                    "value": "left",
                    "label": "t:sections.icon-list.settings.items_alignment.options__1.label"
                },
                {
                    "value": "center",
                    "label": "t:sections.icon-list.settings.items_alignment.options__2.label"
                },
                {
                    "value": "right",
                    "label": "t:sections.icon-list.settings.items_alignment.options__3.label"
                }
            ],
            "default": "left"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "label": "t:sections.icon-list.settings.columns_desktop.label",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "select",
            "id": "columns_mobile",
            "default": "2",
            "label": "t:sections.icon-list.settings.columns_mobile.label",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "default": false,
            "label": "t:sections.icon-list.settings.swipe_on_mobile.label"
        },
        {
            "type": "range",
            "id": "space_between",
            "label": "t:sections.icon-list.settings.space_between.label",
            "min": 1,
            "max": 40,
            "unit": "px",
            "default": 24
        },
        {
            "type": "text",
            "id": "icon_list_section_margin",
            "label": "t:sections.icon-list.settings.icon_list_section_margin.label",
            "default": "80px 0px 80px 0px",
            "info": "t:sections.icon-list.settings.icon_list_section_margin.info"
        },
        {
            "type": "text",
            "id": "icon_list_section_padding",
            "label": "t:sections.icon-list.settings.icon_list_section_padding.label",
            "default": "0px 0px 0px 0px",
            "info": "t:sections.icon-list.settings.icon_list_section_padding.info"
        }
    ],
    "blocks": [
        {
            "type": "icon_item",
            "name": "t:sections.icon-list.blocks.icon_item.name",
            "settings": [
                {
                    "type": "select",
                    "id": "icon_type",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.icon_type.label",
                    "default": "svg",
                    "options": [
                        {
                            "value": "image",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.icon_type.options__1.label"
                        },
                        {
                            "value": "svg",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.icon_type.options__2.label"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "icon_image",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.icon_image.label",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.icon_image.info"
                },
                {
                    "type": "textarea",
                    "id": "icon_svg",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.icon_svg.label",
                    "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" viewBox=\"0 0 40 40\" fill=\"none\"><path d=\"M20.0002 36.6668C29.2049 36.6668 36.6668 29.2049 36.6668 20.0002C36.6668 10.7954 29.2049 3.3335 20.0002 3.3335C10.7954 3.3335 3.3335 10.7954 3.3335 20.0002C3.3335 29.2049 10.7954 36.6668 20.0002 36.6668Z\" stroke=\"#0AAD0A\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/><path d=\"M20 10V20L26.6667 23.3333\" stroke=\"#0AAD0A\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg>",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.icon_svg.info"
                },
                {
                    "type": "color",
                    "id": "icon_color",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.icon_color.label"
                },
                {
                    "type": "header",
                    "content": "t:sections.icon-list.blocks.icon_item.settings.box.content"
                },
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.bg_color.label"
                },
                {
                    "type": "text",
                    "id": "content_margin",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.content_margin.label",
                    "default": "0px 0px 0px 0px",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.content_margin.info"
                },
                {
                    "type": "text",
                    "id": "content_padding",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.content_padding.label",
                    "default": "0px 0px 0px 0px",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.content_padding.info"
                },
                {
                    "type": "header",
                    "content": "t:sections.icon-list.blocks.icon_item.settings.header.content"
                },
                {
                    "type": "text",
                    "id": "heading_text",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_text.label",
                    "default": "Heading"
                },
                {
                    "type": "color",
                    "id": "heading_color",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_color.label",
                    "default": "#001e2b"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.label",
                    "default": "h5",
                    "options": [
                        {
                            "value": "h0",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__1.label"
                        },
                        {
                            "value": "h1",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__2.label"
                        },
                        {
                            "value": "h2",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__3.label"
                        },
                        {
                            "value": "h3",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__4.label"
                        },
                        {
                            "value": "h4",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__5.label"
                        },
                        {
                            "value": "h5",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__6.label"
                        },
                        {
                            "value": "h6",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_size.options__7.label"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "heading_font_weight",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_font_weight.label",
                    "default": "700",
                    "options": [
                        {
                            "value": "300",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_font_weight.options__1.label"
                        },
                        {
                            "value": "400",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_font_weight.options__2.label"
                        },
                        {
                            "value": "500",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_font_weight.options__3.label"
                        },
                        {
                            "value": "600",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_font_weight.options__4.label"
                        },
                        {
                            "value": "700",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_font_weight.options__5.label"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "heading_lineheight",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_lineheight.label",
                    "default": "1.5"
                },
                {
                    "type": "select",
                    "id": "heading_text_transform",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_text_transform.label",
                    "options": [
                        {
                            "value": "none",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_text_transform.options__1.label"
                        },
                        {
                            "value": "uppercase",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_text_transform.options__2.label"
                        },
                        {
                            "value": "lowercase",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_text_transform.options__3.label"
                        },
                        {
                            "value": "capitalize",
                            "label": "t:sections.icon-list.blocks.icon_item.settings.heading_text_transform.options__4.label"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "heading_letterspacing",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_letterspacing.label",
                    "default": "0"
                },
                {
                    "type": "text",
                    "id": "heading_margin",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_margin.label",
                    "default": "15px 0px 10px 0px",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.heading_margin.info"
                },
                {
                    "type": "text",
                    "id": "heading_padding",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.heading_padding.label",
                    "default": "0px 0px 0px 0px",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.heading_padding.info"
                },
                {
                    "type": "header",
                    "content": "t:sections.icon-list.blocks.icon_item.settings.desc.content"
                },
                {
                    "type": "inline_richtext",
                    "id": "description_text",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.description_text.label",
                    "default": "Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.description_text.info"
                },
                {
                    "type": "color",
                    "id": "description_color",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.description_color.label",
                    "default": "#5c6c75"
                },
                {
                    "type": "text",
                    "id": "description_size",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.description_size.label",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.description_size.info",
                    "default": "14"
                },
                {
                    "type": "text",
                    "id": "des_margin",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.des_margin.label",
                    "default": "12px 0px 0px 0px",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.des_margin.info"
                },
                {
                    "type": "text",
                    "id": "des_padding",
                    "label": "t:sections.icon-list.blocks.icon_item.settings.des_margin.label",
                    "default": "0px 0px 0px 0px",
                    "info": "t:sections.icon-list.blocks.icon_item.settings.des_padding.info"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.icon-list.presets.name",
            "blocks": [
                {
                    "type": "icon_item"
                },
                {
                    "type": "icon_item"
                },
                {
                    "type": "icon_item"
                }
            ]
        }
    ]
}
{% endschema %}
