<link
  rel="stylesheet"
  href="{{ 'customer.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div class="page-width customer-login">
  <!-- Image Banner with Enable Option -->
  {% if section.settings.enable_image %}
    <div class="banner">
      {% if section.settings.image %}
        <img
          src="{{ section.settings.image | image_url: section.settings.image_widthxsection.settings.image_height }}"
          alt="{{ section.settings.image_alt | default: 'Default banner description' }}"
          class="banner__image"
          width="{{ section.settings.image_width | default: '381.66px' }}"
          height="{{ section.settings.image_height | default: '465px' }}"
          loading="lazy"
          style="object-fit:cover"
        >
      {% else %}
        <div class="placeholder-wrap">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="customer login section-{{ section.id }}-padding">
    <h1 id="recover" tabindex="-1">
      {{ 'customer.recover_password.title' | t }}
    </h1>
    <div>
      <p>
        {{ 'customer.recover_password.subtext' | t }}
      </p>

      {%- form 'recover_customer_password' -%}
        {% assign recover_success = form.posted_successfully? %}
        <div class="field">
          <input
            type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
          <label for="RecoverEmail">
            {{ 'customer.login_page.email' | t }}
          </label>
        </div>
        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="form__message">
            <span class="svg-wrapper">
              <svg class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.5" r="5.5" stroke="#fff" stroke-width="2"/><circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width=".7"/><path fill="#fff" d="m5.874 3.528.1 4.044h1.053l.1-4.044zm.627 6.133c.38 0 .68-.288.68-.656s-.3-.656-.68-.656-.681.288-.681.656.3.656.68.656"/><path fill="#fff" stroke="#EB001B" stroke-width=".7" d="M5.874 3.178h-.359l.01.359.1 4.044.008.341h1.736l.008-.341.1-4.044.01-.359H5.873Zm.627 6.833c.56 0 1.03-.432 1.03-1.006s-.47-1.006-1.03-1.006-1.031.432-1.031 1.006.47 1.006 1.03 1.006Z"/>
              </svg>
            </span>
            {{ form.errors.messages.form }}
          </small>
        {%- endif -%}

        <button>
          {{ 'customer.login_page.submit' | t }}
        </button>

        <a class="cancel-link" href="#login">
          {{ 'customer.login_page.cancel' | t }}
        </a>
      {%- endform -%}
    </div>

    <h1 id="login" tabindex="-1">
      {{ 'customer.login_page.title' | t }}
    </h1>
    <div>
      {%- if recover_success == true -%}
        <h3 class="form__message" tabindex="-1" autofocus>
          <span class="svg-wrapper">
            <svg class="icon icon-success" viewBox="0 0 13 13">
              <path fill="#428445" stroke="#fff" stroke-width=".7" d="M6.5 12.35a5.85 5.85 0 1 0 0-11.7 5.85 5.85 0 0 0 0 11.7Z"/><path stroke="#fff" d="m5.533 8.664 3.72-3.982M4.106 6.769l2.032 1.857"/>
            </svg>
          </span>
          {{ 'customer.recover_password.success' | t }}
        </h3>
      {%- endif -%}
      {%- form 'customer_login', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <h2 class="form__message" tabindex="-1" autofocus>
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            <span class="svg-wrapper">
              <svg class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.5" r="5.5" stroke="#fff" stroke-width="2"/><circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width=".7"/><path fill="#fff" d="m5.874 3.528.1 4.044h1.053l.1-4.044zm.627 6.133c.38 0 .68-.288.68-.656s-.3-.656-.68-.656-.681.288-.681.656.3.656.68.656"/><path fill="#fff" stroke="#EB001B" stroke-width=".7" d="M5.874 3.178h-.359l.01.359.1 4.044.008.341h1.736l.008-.341.1-4.044.01-.359H5.873Zm.627 6.833c.56 0 1.03-.432 1.03-1.006s-.47-1.006-1.03-1.006-1.031.432-1.031 1.006.47 1.006 1.03 1.006Z"/>
              </svg>
            </span>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          {{ form.errors | default_errors }}
        {%- endif -%}

        {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
          <section name="sign-in-with-shop-provider">
            {{ shop | login_button: hide_button: hide_shop_login_button }}

            {%- unless hide_shop_login_button -%}
              <p>
                {{ 'customer.login_page.alternate_provider_separator' | t }}
              </p>
            {%- endunless -%}
          </section>
        {%- endif -%}

        <div class="field">
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
          >
          <label for="CustomerEmail">
            {{ 'customer.login_page.email' | t }}
          </label>
        </div>

        {%- if form.password_needed -%}
          <div class="field">
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.password' | t }}"
            >
            <label for="CustomerPassword">
              {{ 'customer.login_page.password' | t }}
            </label>
          </div>

          <a class="forgot-password" href="#recover">
            {{ 'customer.login_page.forgot_password' | t }}
          </a>
        {%- endif -%}

        <button>
          {{ 'customer.login_page.sign_in' | t }}
        </button>

        <a class="register-link" href="{{ routes.account_register_url }}">
          {{ 'customer.login_page.create_account' | t }}
        </a>
      {%- endform -%}
    </div>

    {%- if shop.checkout.guest_login -%}
      <div>
        <hr>
        <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

        {%- form 'guest_login' -%}
          <button>
            {{ 'customer.login_page.guest_continue' | t }}
          </button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "class": "freshcart-login-section",
  "settings": [
    {
      "type": "header",
      "content": "Image Banner"
    },
    {
      "type": "checkbox",
      "id": "enable_image",
      "label": "Enable Image Banner",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "image_width",
      "label": "Image Width",
      "info": "Specify the width of the image in pixels (e.g., 600px) or use 'auto'.",
      "default": "381.66px"
    },
    {
      "type": "text",
      "id": "image_height",
      "label": "Image or SVG Height (e.g., 150px or auto)",
      "info": "Specify the height of the image in pixels (e.g., 300px) or use 'auto'.",
      "default": "465px"
    },
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
