<div class="sale-banner sale-banner__button {{ section.settings.layout_style }} section-{{ section.id }}">
  {%- liquid
    assign sale_banner_txt_hover_color = section.settings.sale_banner_txt_hover_color
    assign sale_banner_bg_hover_color = section.settings.sale_banner_bg_hover_color
    assign sale_banner_bg_color = section.settings.sale_banner_bg_color
    assign banner_padding = section.settings.banner_padding
    assign title_align = section.settings.title_align
    assign banner_margin = section.settings.banner_margin
    assign sale_banner_border_radius = section.settings.sale_banner_border_radius
    assign btn_size_text = section.settings.btn_size_text
    assign sale_banner_border_color = section.settings.sale_banner_border_color
    assign banner_border_hover_color = section.settings.banner_border_hover_color
  -%}
  {%- style -%}
     .section#shopify-section-{{ section.id }} .sale-banner__button a {
          padding: {{ banner_padding }};
          margin: {{ banner_margin }};
          border: 1px solid  {{ sale_banner_border_color }};
          border-radius: {{ sale_banner_border_radius }};
          font-size: {{ btn_size_text }};
          cursor: pointer;
          text-decoration: none;
          display: flex;
          background-color: {{ sale_banner_bg_color }};
          justify-content:{{ title_align }};
     }

    .section#shopify-section-{{ section.id }} .sale-banner__button a:hover {
          background-color: {{ sale_banner_bg_hover_color }};

         border: 1px solid {{ banner_border_hover_color }};
      }
  {%- endstyle -%}

  {% if section.settings.sale_title != blank %}
    <div class="sale-banner__button">
      <a
        class="sale-banner__link"
        href="{{ section.settings.sale_banner_url }}"
        style="color: {{ section.settings.sale_title_color }}; "
      >
        {% if section.settings.sale_title != blank %}
          <{{ section.settings.sale_title_size }}
            class="sale-bannner-title"
            style="
              font-weight: {{ section.settings.sale_title_font_weight }};
              line-height: {{ section.settings.sale_title_lineheight }};
              margin: {{ section.settings.sale_title_margin }};
              text-transform: {{ section.settings.sale_title_txt_style }};
            "
          >
            <style>
              .section#shopify-section-{{ section.id }} .sale-banner__link:hover  {
                color: {{ sale_banner_txt_hover_color }} !important;
              }
              @media(max-width: 767px) {
                  .section#shopify-section-{{ section.id }} .sale-bannner-title {
                  font-size: {{ section.settings.sale_title_mob_size_text }}px;
                }
              }
            </style>
            {{ section.settings.sale_title }}
          </{{ section.settings.sale_title_size }}>
        {% endif %}
      </a>
    </div>
  {% endif %}
</div>

{% schema %}
{
    "name": "t:sections.sale-banner.name",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "select",
            "id": "layout_style",
            "label": "t:sections.sale-banner.settings.layout_style.label",
            "default": "container",
            "options": [
                {
                    "value": "container",
                    "label": "t:sections.sale-banner.settings.layout_style.options__1.label"
                },
                {
                    "value": "container-fluid",
                    "label": "t:sections.sale-banner.settings.layout_style.options__2.label"
                }
            ]
        },
        {
            "type": "inline_richtext",
            "id": "sale_title",
            "default": "Save an extra 15% on Authorship order",
            "label": "t:sections.sale-banner.settings.sale_title.label"
        },
        {
            "type": "url",
            "id": "sale_banner_url",
            "label": "t:sections.sale-banner.settings.sale_banner_url.label"
        },
        {
            "type": "select",
            "id": "sale_title_size",
            "label": "t:sections.sale-banner.settings.sale_title_size.label",
            "default": "h5",
            "options": [
                {
                    "value": "h1",
                    "label": "t:sections.sale-banner.settings.sale_title_size.options__1.label"
                },
                {
                    "value": "h2",
                    "label": "t:sections.sale-banner.settings.sale_title_size.options__2.label"
                },
                {
                    "value": "h3",
                    "label": "t:sections.sale-banner.settings.sale_title_size.options__3.label"
                },
                {
                    "value": "h4",
                    "label": "t:sections.sale-banner.settings.sale_title_size.options__4.label"
                },
                {
                    "value": "h5",
                    "label": "t:sections.sale-banner.settings.sale_title_size.options__5.label"
                },
                {
                    "value": "h6",
                    "label": "t:sections.sale-banner.settings.sale_title_size.options__6.label"
                }
            ]
        },
        {
            "type": "color",
            "id": "sale_title_color",
            "label": "t:sections.sale-banner.settings.sale_title_color.label",
            "default": "#ffc107"
        },
        {
            "type": "select",
            "id": "title_align",
            "label": "t:sections.sale-banner.settings.title_align.label",
            "default": "center",
            "options": [
                {
                    "label": "t:sections.sale-banner.settings.title_align.options__1.label",
                    "value": "flex-start"
                },
                {
                    "label": "t:sections.sale-banner.settings.title_align.options__2.label",
                    "value": "center"
                },
                {
                    "label": "t:sections.sale-banner.settings.title_align.options__3.label",
                    "value": "flex-end"
                }
            ]
        },
        {
            "type": "select",
            "id": "sale_title_txt_style",
            "label": "t:sections.sale-banner.settings.sale_title_txt_style.label",
            "default": "uppercase",
            "options": [
                {
                    "value": "none",
                    "label": "t:sections.sale-banner.settings.sale_title_txt_style.options__1.label"
                },
                {
                    "value": "uppercase",
                    "label": "t:sections.sale-banner.settings.sale_title_txt_style.options__2.label"
                },
                {
                    "value": "lowercase",
                    "label": "t:sections.sale-banner.settings.sale_title_txt_style.options__3.label"
                }
            ]
        },
        {
            "type": "select",
            "id": "sale_title_font_weight",
            "label": "t:sections.sale-banner.settings.sale_title_font_weight.label",
            "default": "600",
            "options": [
                {
                    "value": "300",
                    "label": "t:sections.sale-banner.settings.sale_title_font_weight.options__1.label"
                },
                {
                    "value": "400",
                    "label": "t:sections.sale-banner.settings.sale_title_font_weight.options__2.label"
                },
                {
                    "value": "500",
                    "label": "t:sections.sale-banner.settings.sale_title_font_weight.options__3.label"
                },
                {
                    "value": "600",
                    "label": "t:sections.sale-banner.settings.sale_title_font_weight.options__4.label"
                },
                {
                    "value": "700",
                    "label": "t:sections.sale-banner.settings.sale_title_font_weight.options__5.label"
                }
            ]
        },
        {
            "type": "text",
            "id": "sale_title_lineheight",
            "label": "t:sections.sale-banner.settings.sale_title_lineheight.label",
            "default": "1.2"
        },
        {
            "type": "text",
            "id": "sale_title_mob_size_text",
            "label": "t:sections.sale-banner.settings.sale_title_mob_size_text.label",
            "default": "15"
        },
        {
            "type": "text",
            "id": "sale_title_margin",
            "label": "t:sections.sale-banner.settings.sale_title_margin.label",
            "default": "3px 0px 2px 0px",
            "info": "Margin: Top Right Bottom Left"
        },
        {
            "type": "text",
            "id": "sale_banner_border_radius",
            "label": "t:sections.sale-banner.settings.sale_banner_border_radius.label",
            "default": "50px"
        },
        {
            "type": "color",
            "id": "sale_banner_bg_color",
            "label": "t:sections.sale-banner.settings.sale_banner_bg_color.label",
            "default": "rgba(255,193,7,0.13)"
        },
        {
            "type": "color",
            "id": "sale_banner_bg_hover_color",
            "label": "t:sections.sale-banner.settings.sale_banner_bg_hover_color.label",
            "default": "#ffc107"
        },
        {
            "type": "color",
            "id": "sale_banner_border_color",
            "label": "t:sections.sale-banner.settings.sale_banner_border_color.label",
            "default": "rgba(255,193,7,0.13)"
        },
        {
            "type": "color",
            "id": "sale_banner_txt_hover_color",
            "label": "t:sections.sale-banner.settings.sale_banner_txt_hover_color.label",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "banner_border_hover_color",
            "label": "t:sections.sale-banner.settings.banner_border_hover_color.label",
            "default": "#ffc107"
        },
        {
            "type": "text",
            "id": "banner_padding",
            "label": "t:sections.sale-banner.settings.banner_padding.label",
            "default": "8.8px 20px 8.8px 20px",
            "info": "Padding: Top Right Bottom Left"
        },
        {
            "type": "text",
            "id": "banner_margin",
            "label": "t:sections.sale-banner.settings.banner_margin.label",
            "default": "0px 0px 0px 0px",
            "info": "Margin: Top Right Bottom Left"
        }
    ],
    "presets": [
        {
            "name": "t:sections.sale-banner.presets.name"
        }
    ]
}
{% endschema %}
