<link
  rel="stylesheet"
  href="{{ 'component-slideshow.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'component-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif
  if section.blocks.size > 0
    assign announcement_bar = true
  endif
-%}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}

<div
  class="utility-bar {% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header-localization{% endif %} {{ section.settings.layout_type }}"
  style="background-color: {{ section.settings.topbar_bg }}; color: {{ section.settings.topbar_text_color }}"
>
  <div class="page-width utility-bar__grid{% if announcement_bar and language_country_selector or section.settings.show_social and social_icons %} utility-bar__grid--3-col{% elsif language_country_selector or section.settings.show_social and social_icons %} utility-bar__grid--2-col{% endif %}">
    {%- if section.settings.show_social and social_icons -%}
      {%- render 'social-icons' -%}
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div
        class="announcement-bar{% if section.settings.show_social %} announcement-bar--one-announcement{% endif %}"
        role="region"
        aria-label="{{ 'sections.header.announcement' | t }}"
      >
        {%- if section.blocks.first.settings.text != blank -%}
          {%- if section.blocks.first.settings.link != blank -%}
            <a
              href="{{ section.blocks.first.settings.link }}"
              class="announcement-bar__link link link--text focus-inset animate-arrow"
            >
          {%- endif -%}
          <p class="announcement-bar__message">
            <span>{{ section.blocks.first.settings.text | escape }}</span>
            {%- if section.blocks.first.settings.link != blank -%}
              {% render 'icon-arrow' %}
            {%- endif -%}
          </p>
          {%- if section.blocks.first.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="localization-wrapper">
      {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <noscript class="small-hide medium-hide">
          {%- form 'localization', id: 'AnnouncementCountryMobileFormNoScript', class: 'localization-form' -%}
            <div class="localization-form__select">
              <h2 class="visually-hidden" id="AnnouncementCountryMobileLabelNoScript">
                {{ 'localization.country_label' | t }}
              </h2>
              <select
                class="localization-selector link"
                name="country_code"
                aria-labelledby="AnnouncementCountryMobileLabelNoScript"
              >
                {%- for country in localization.available_countries -%}
                  <option
                    value="{{ country.iso_code }}"
                    {%- if country.iso_code == localization.country.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ country.name }} ({{ country.currency.iso_code }}
                    {{ country.currency.symbol }})
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
            <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
          {%- endform -%}
        </noscript>

        <localization-form class="small-hide medium-hide no-js-hidden">
          {%- form 'localization', id: 'AnnouncementCountryForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="AnnouncementCountryLabel">{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization', localPosition: 'AnnouncementCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}

      {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
        <noscript class="small-hide medium-hide">
          {%- form 'localization', id: 'AnnouncementLanguageMobileFormNoScript', class: 'localization-form' -%}
            <div class="localization-form__select">
              <h2 class="visually-hidden" id="AnnouncementLanguageMobileLabelNoScript">
                {{ 'localization.language_label' | t }}
              </h2>
              <select
                class="localization-selector link"
                name="locale_code"
                aria-labelledby="AnnouncementLanguageMobileLabelNoScript"
              >
                {%- for language in localization.available_languages -%}
                  <option
                    value="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    {%- if language.iso_code == localization.language.iso_code %}
                      selected
                    {% endif %}
                  >
                    {{ language.endonym_name | capitalize }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
            <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
          {%- endform -%}
        </noscript>

        <localization-form class="small-hide medium-hide no-js-hidden">
          {%- form 'localization', id: 'AnnouncementLanguageForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="AnnouncementLanguageLabel">{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization', localPosition: 'AnnouncementLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "t:sections.top-bar.name",
    "max_blocks": 1,
    "class": "top-bar-section",
    "enabled_on": {
        "groups": [
            "header"
        ]
    },
    "settings": [
        {
            "type": "select",
            "id": "layout_type",
            "label": "t:sections.top-bar.settings.layout_type.label",
            "options": [
                {
                    "value": "container",
                    "label": "t:sections.top-bar.settings.layout_type.options__1.label"
                },
                {
                    "value": "container-fluid",
                    "label": "t:sections.top-bar.settings.layout_type.options__2.label"
                }
            ],
            "default": "container-fluid"
        },
        {
            "type": "color",
            "id": "topbar_bg",
            "default": "#f0f3f2",
            "label": "t:sections.top-bar.settings.topbar_bg.label"
        },
        {
            "type": "color",
            "id": "topbar_text_color",
            "default": "#5c6c75",
            "label": "t:sections.top-bar.settings.topbar_text_color.label"
        },
        {
            "type": "header",
            "content": "t:sections.top-bar.settings.header__1.content",
            "info": "t:sections.top-bar.settings.header__1.info"
        },
        {
            "type": "checkbox",
            "id": "show_social",
            "default": false,
            "label": "t:sections.top-bar.settings.show_social.label"
        },
        {
            "type": "header",
            "content": "t:sections.top-bar.settings.header__3.content",
            "info": "t:sections.top-bar.settings.header__3.info"
        },
        {
            "type": "checkbox",
            "id": "enable_country_selector",
            "default": false,
            "label": "t:sections.top-bar.settings.enable_country_selector.label"
        },
        {
            "type": "header",
            "content": "t:sections.top-bar.settings.header__4.content",
            "info": "t:sections.top-bar.settings.header__4.info"
        },
        {
            "type": "checkbox",
            "id": "enable_language_selector",
            "default": false,
            "label": "t:sections.top-bar.settings.enable_language_selector.label"
        }
    ],
    "blocks": [
        {
            "type": "announcement",
            "name": "t:sections.top-bar.blocks.announcement.name",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "Super Value Deals – Save more with coupons",
                    "label": "t:sections.top-bar.blocks.announcement.settings.text.label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:sections.top-bar.blocks.announcement.settings.link.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.top-bar.presets.name",
            "blocks": [
                {
                    "type": "announcement"
                }
            ]
        }
    ]
}
{% endschema %}
